<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
 <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->  
    <property name="LOG_HOME" value="F:" />  
  
  
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
     
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d  %msg%n</pattern>
        </layout>
  </appender>


     <!-- 输出错误日志到文件 -->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>  <!--//打印error-->
        </filter>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>${LOG_HOME}\fujian-error\%d{yyyy-MM,aux}\%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
   
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
           <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%-5level] [%logger{36}] - %msg%n</pattern>
        </encoder>
   
    </appender>

    <logger name="fujian.benz.manage.mapper" level="DEBUG" />
    <logger name="org.springframework.web.servlet.mvc" level="DEBUG" />

     <root level="info">
        <appender-ref ref="stdout" />
        <appender-ref ref="fileErrorLog" />
    </root>

</configuration>
